.playlist-card-col {
  margin-bottom: 0.75rem !important;
}

.playlist-card-content {
  padding: 20px;
  height: 100%;
  align-items: center;
}

.mobile-playlist-card-image {
  width: 50%;
  height: auto;
}

.desktop-playlist-card-image {
  width: auto;
  height: 100%;
}

.playlist-card {
  background: #eee;
  align-items: center;
}

.playlist-info-image {
  border: 3px solid black;
  border-radius: 2px;
  padding: 2px;
  width: auto;
  max-width: 100%;
}

.playlist-image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mobile-playlist-card-button-wrapper {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.desktop-playlist-card-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.playlist-row-height {
  height: 5rem;
}
