.playlist-card-button-wrapper {
  width: fit-content;
}

.playlist-card-col {
  margin-bottom: 0.25rem !important;
  margin: 0.3rem;
}

.playlist-card-content {
  height: 100%;
  max-width: 50%;
  align-items: center;
}

.playlist-card-image {
  width: auto;
  height: 100%;
}

.playlist-card {
  background: #eee;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playlist-info-image {
  border: 3px solid black;
  border-radius: 2px;
  padding: 2px;
  width: auto;
  max-width: 100%;
}

.playlist-image-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
