.playlist-card-button-wrapper {
  justify-content: space-between;
}

.playlist-card-content {
  max-height: 50%;
}

.playlist-card-image {
  width: 75%;
  height: auto;
  border: 2px black solid;
  padding: 4px;
}

.playlist-card {
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
