.profile-wrapper {
  width: 100%;
  margin-top: 7vh;
}

.profile-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-image {
  max-width: 85%;
  height: auto;
}
