.arabesque-font {
  font-family: hwt-arabesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arts-and-crafts-font {
  font-family: p22-arts-and-crafts-hunter, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 0.25em !important;
}
